/* footer.component.css */

:host {
    --primary-color: #570E6C;
    --secondary-color: #6d0f87;
    --orange-color: #ff5733;
}

.footer {
    background-color: #EEEEEE;
    color: black;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 40px;
    /*ombrage sur le footer*/
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
}

.footer h5 {
    color: var(--orange-color);
    font-size: 18px;
    margin-bottom: 20px;
}

.footer a {
    color: rgb(77, 77, 77);
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: var(--orange-color);
}

.footer .text-muted {
    color: #8d8a8a !important;
}

.footer .social-icons a {
    font-size: 20px;
    margin-right: 15px;
    transition: color 0.3s;
}

.footer .social-icons a:hover {
    color: var(--orange-color);
}

.footer .list-unstyled li {
    color: rgb(53, 52, 52);
    margin-bottom: 10px;
}

.footer .list-unstyled i {
    margin-right: 10px;
    color: var(--orange-color);
}