<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <!-- 🟢 Logo -->
        <a class="navbar-brand" [routerLink]="['/']">
            <img src="../../../assets/logofinal.svg" alt="Logo Easy Market" class="logo">
        </a>

        <a class="home-link" [routerLink]="['/']">
            Home
        </a>

        <!-- Barre de recherche -->
        <form class="d-flex search-bar flex-grow-1" (ngSubmit)="onSearch()" #searchForm="ngForm">
            <input class="form-control me-2 custom-search" type="text" id="searchQuery" [(ngModel)]="searchQuery" name="searchQuery" required placeholder="Rechercher un produit..." aria-label="Search" #query="ngModel">
            <button class="btn btn-outline-primary search-btn" type="submit" title="Rechercher" [disabled]="searchForm.invalid">
                <i class="bi bi-search"></i>
            </button>
        </form>

        <!-- Bouton des catégories -->
        <div class="dropdown">
            <a class="auth-link dropdown-toggle" id="dropdownCategoriesButton" data-bs-toggle="dropdown">
                Catégories
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownCategoriesButton">
                <li *ngFor="let categorie of allCategorie">
                    <a class="dropdown-item" (click)="onCategorySelect(categorie)">
                        {{ categorie }}
                    </a>
                </li>
            </ul>
        </div>

        <!-- Bouton de trie -->
        <!--div class="dropdown">
            <a class="auth-link dropdown-toggle" id="dropdownCategoriesButton" data-bs-toggle="dropdown">
                Sorted
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownCategoriesButton">
                <li *ngFor="let value of sotedValues">
                    <a class="dropdown-item" (click)="onSortedSelect(value)">
                        {{ value }}
                    </a>
                </li>
            </ul>
        </div-->


        <!-- Icônes panier & Connexion/Déconnexion -->
        <div class="d-flex align-items-center">

            <!-- Panier -->
            <!--rediriger le user si il n'est pas connecté-->
            <a class="dropdown-item" [routerLink]="isLoggedIn() ? '/panier' : '/login'" class="btn position-relative me-3">
                <i class="bi bi-cart3 fs-4"></i>
                <span class="articcolor position-absolute top-0 start-100 translate-middle badge rounded-pill">
                    {{tatalItemChoce}} <!-- Exemple du nombre d'articles -->
                </span>
            </a>

            <!-- Bouton de connexion (affiché si l'utilisateur n'est pas connecté) -->
            <div class="dropdown" *ngIf="isLoggedIn(); else loginButton">
                <a class="auth-link dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown">
                    <i class="bi bi-person"></i>{{ (authService.user$ | async)?.displayName}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <!--rediriger le user si il n'est pas connecté-->
                        <a class="dropdown-item" [routerLink]="isLoggedIn() ? '/panier' : '/login'">Panier</a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['/user-profil']">Profil</a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="toggleAuth()">Déconnexion</a>
                    </li>

                </ul>
            </div>
            <ng-template #loginButton>
                <div class="dropdown">
                    <a class="auth-link dropdown-toggle" id="dropdownAcountButton" data-bs-toggle="dropdown">
                        <i class="bi bi-person"></i> Compte
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownAcountButton">
                        <li>
                            <a class="dropdown-item" (click)="toggleAuth()">Connexion</a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['/signUp']">Register</a>
                        </li>
                    </ul>
                </div>
            </ng-template>


        </div>
    </div>
</nav>