:host {
    --primary-color: #570E6C;
    --secondary-color: #6d0f87;
    --orange-color: #ff5733;
}


/* Fixe le header en haut de la page */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-search {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    border-radius: 0;
}

.custom-search:focus {
    outline: none;
    box-shadow: 0 0 5px var(--orange-color);
}

.search-btn {
    border: 1px solid black;
    color: black;
    padding: 10px 15px;
    border-radius: 0;
}

.search-btn:hover {
    background-color: var(--orange-color);
}

.auth-link {
    font-size: 14px;
    /*font-weight: bold;*/
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.auth-link:hover {
    color: var(--secondary-color)
}

.articcolor {
    background-color: var(--orange-color);
    color: white;
    padding: 0.5em 0.7em;
    font-size: 0.7em;
}

.logo {
    height: 60px;
}


/* Ajustement du dropdown utilisateur */

.dropdown-menu {
    min-width: 150px;
    border-radius: 5px;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: var(--orange-color);
    color: white;
}