<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <!-- 🟢 Logo -->
        <a class="navbar-brand" routerLink="/">
            <img src="../../../assets/easyMarket_without_bg.png" alt="Logo Easy Market" class="logo">
        </a>

        <!-- Barre de recherche -->
        <form class="d-flex search-bar flex-grow-1" (ngSubmit)="onSearch()" #searchForm="ngForm">
            <input class="form-control me-2 custom-search" type="text" id="searchQuery" [(ngModel)]="searchQuery" name="searchQuery" required placeholder="Rechercher un produit..." aria-label="Search" #query="ngModel">
            <button class="btn btn-outline-primary search-btn" type="submit" title="Rechercher" [disabled]="searchForm.invalid">
                <i class="bi bi-search"></i>
            </button>
        </form>


        <!-- Icônes panier & Connexion/Déconnexion -->
        <div class="d-flex align-items-center">
            <!-- Panier -->
            <a routerLink="/cart" class="btn position-relative me-3">
                <i class="bi bi-cart3 fs-4"></i>
                <span class="articcolor position-absolute top-0 start-100 translate-middle badge rounded-pill">
                    {{tatalItemChoce}} <!-- Exemple du nombre d'articles -->
                </span>
            </a>



            <div class="dropdown" *ngIf="isLoggedIn(); else loginButton">
                <a class="auth-link dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown">
                    <i class="bi bi-person"></i> Bienvenue {{ (authService.user$ | async)?.displayName}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" (click)="toggleAuth()">Déconnexion</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Profil</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Panier</a>
                    </li>
                </ul>
            </div>

            <!-- Bouton de connexion (affiché si l'utilisateur n'est pas connecté) -->
            <ng-template #loginButton>
                <a class="auth-link" (click)="toggleAuth()">
                    <i class="bi bi-person"></i> Connexion
                </a>
            </ng-template>


        </div>
    </div>
</nav>