:host {
    --primary-color: #570E6C;
    --secondary-color: #6d0f87;
}

.container {
    max-width: 900px;
    margin-top: 80px;
}

.img-fluid {
    max-width: 80%;
}

.form-control {
    border-radius: 0px;
    height: 45px;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 0px;
    height: 45px;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.invalid-feedback {
    font-size: 0.9rem;
}