:host {
    --primary-color: #570E6C;
    --secondary-color: #6d0f87;
}

.container {
    max-width: 900px;
}

.img-fluid {
    max-width: 80%;
}

.form-control {
    border-radius: 0px;
    height: 45px;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 0px;
    height: 45px;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.invalid-feedback {
    font-size: 0.9rem;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Espacement entre le logo et le texte */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    transition: all 0.3s ease;
}

.google-btn:hover {
    background-color: #f8f9fa;
    border-color: #aaa;
}

.google-logo {
    width: 20px;
    height: 20px;
}