:host {
    --primary-color: #570E6C;
    --secondary-color: #6d0f87;
    --orange-color: #ff5733;
}

.product-image {
    border-bottom: 2px solid #e0e0e0;
    height: 300px;
    width: 100%;
    object-fit: contain;
    background-color: #f8f9fa;
}


/* Conteneur principal des actions */

mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-top: 1px solid #b9b9b9;
}


/* Conteneur du prix */

.price-container {
    flex: 1;
}


/* Style du prix */

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 0;
}


/* Conteneur des boutons */

.actions-container {
    display: flex;
    gap: 8px;
}


/* Style de base du bouton */

.custom-card .btn-artistic {
    background: linear-gradient(45deg, #fafafa, var(--orange-color));
    border-radius: 0;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}


/* Effet de surbrillance au survol */

.custom-card .btn-artistic::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
    border-radius: 50%;
}


/* Animation au survol */

.custom-card .btn-artistic:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


/* Effet de surbrillance au survol */

.custom-card .btn-artistic:hover::after {
    transform: translate(-50%, -50%) scale(1);
}


/* Animation au clic */

.custom-card .btn-artistic:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}