<div class="dashboard-container">
    <!-- Zone de gauche : Historique des commandes -->
    <div class="history-section">
        <h2>Historique des Commandes</h2>
        <div class="history-list">
            <div *ngFor="let history of purchaseHistory" class="history-item">
                <p><strong>Date:</strong> {{ history.date }}</p>
                <p><strong>Produits:</strong></p>
                <ul>
                    <li *ngFor="let product of history.products">
                        {{ product.productId }} (Quantité: {{ product.quantity }})
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <!-- Zone de droite : Panier actuel -->
    <div class="cart-section">


        <h2>Panier Actuel</h2>
        <div *ngIf="productsPanier.length > 0; else emptyCart" class="cart-items">

            <div *ngFor="let product of productsPanier" class="cart-item">
                <img [src]="product.image" alt="{{ product.title }}" class="product-image" />
                <div class="product-details">
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.description }}</p>
                    <p><strong>Prix:</strong> {{ product.price }} €</p>
                    <button (click)="suprimerProduct(product.id)" class="delete-btn"><i class="bi bi-trash"></i></button>
                </div>
            </div>
        </div>

        <!-- Message si le panier est vide -->
        <ng-template #emptyCart>
            <div class="empty-cart-message">
                <p>Votre panier est vide.</p>
            </div>
        </ng-template>

        <!-- Total et actions -->
        <div class="actions-container">
            <p><strong>Total:</strong> {{ discount() }} €</p>

        </div>
        <div class="actions-container">
            <button *ngIf="productsPanier.length > 0" (click)="commander()" class="btn-artistic">Commander</button>
            <button *ngIf="productsPanier.length > 0" (click)="viderPanier()" class="btn-artistic">Vider</button>
            <button *ngIf="itemDropedTable.length > 0" (click)="retour()" class="btn-artistic">Retour</button>
        </div>

    </div>


    <!-- Intégrer le composant Payement -->
    <app-payement #payementComponent></app-payement>
</div>